body {
    font-family: 'Nunito', sans-serif;
    background-color: #3b4653;
}

/* Header bar */
header {
    background-color: #2d6a4f; /* rich green for header */
    color: #f1faee; /* soft off-white text */
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-weight: 700;
}

/* Navbar below header */
.navbar {
    background-color: #1b4332;
    padding: 0.5em 0;
    display: flex;
    margin-top: 1em;
    justify-content: center;
}
/* Navbar links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 2em;
}
.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2em;
    padding: 0.5em 1em;        
    border-radius: 5px;        
    transition: background-color 0.4s;
}
.nav-links a:hover {
    background-color: #40916c;
    color: #ffffff;
}

/* Image center of home page */
.filler-image {
    display: flex;
    justify-content: center;
    margin: 10em auto;
    background-color: rgb(108, 163, 133);
    width: fit-content;
    border-radius: 5px;
}